<div class="jumbotron">
<h1>MAKE A BURGER</h1>
</div>
<div class="container col-md-12">
  <div class="col-md-5">
  <h2>Burgers to eat!</h2>
  <ul>
    {{#each burger}} {{#unless this.devoured}}
    <li>
      <p>
         <form action="/api/burgers" method="POST" id={{this.id}} class="button-size">
        <button type="button" value="1" name="update" class="update btn btn-success">{{burger_name}}</button>
       </form>

      </p>
    </li>
    {{/unless}} {{/each}}
  </ul>
</div>


<div class="col-md-5">
  <h2>Burgers DEVOURED</h2>
<ul>
  {{#each burger}} {{#if this.devoured}}
  <li>
    <p>
     <button type="button" class="update btn-danger update">{{burger_name}}</button>

    </p>
  </li>
  {{/if}} {{/each}}
</ul>
</div>
</div>

<h2>Add a Burger</h2>
<form action="/api/burgers" method="POST" id="addburger" class="button-size">
  <textarea type="text" name="burger_name" devoured="false"></textarea>
  <button type="submit">Add this Burger!</button>
</form>

