<h1>MAKE A BURGER</h1>

<ul>
  {{#each burger}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}} . {{this.devoured}}

      </p>
    </li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="addburger" class="button-size">
	<textarea type="text" name="burger"></textarea>
	<button type="submit">Add this Burger!</button>
</form>


<script type="text/javascript">
  

  $("#addmovie").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      movie: $("#addburger [name=burger]").val().trim()
    };

    // Send the POST request.
    $.ajax("/burger", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("added new movie");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  

   
</script>
